/* Fonts */

@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}

@font-face {
    font-family: 'GothamBold';
    src: url('../assets/fonts/GOTHAM-BOLD.TTF');
}


/* Removing screen sliding */
html, body {
  overflow-x: hidden;
  overflow-y: scroll; 
    background-color: #101010;
}

/* Rotating warning */

#rotate-warning {
  display: none;
  position: fixed;
  inset: 0;
  background: #000;
  color: #fff;
  font-size: 1.4rem;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (orientation: landscape) {
  #rotate-warning {
    display: flex;
  }

  .container {
    display: none;
  }
}

/* Screen Config */

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

/* Button Customization remover */

button {
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: transparent;
}

/* Animations */

@keyframes slideInUp {
  from {
    transform: translateY(60%); 
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInUpButton {
  from {
    transform: translateY(80%); 
    opacity: 0;
  }
  to {
    transform: translateY(0); 
    opacity: 1;
  }
}

@keyframes slideInUpLogo {
  from {
    transform: translateY(10%); 
    opacity: 0;
  }
  to {
    transform: translateY(0); 
    opacity: 1;
  }
}

/* ====================================== LOGIN SCREEN ====================================== */

/* First Button */

.firstButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

        span {
            color: white;
            font-size: 18px;
            font-family: GothamBold;
            margin-bottom: 28px;
            animation: slideInUp 0.5s ease-out forwards;
        }
        img {
            width: 30%;
            margin-bottom: 20px;
            animation: slideInUpLogo 0.4s ease-out forwards;
        }

}

 .mainButton {
        width: 50%;
        margin-top: 32px;
        padding: 12px 32px; 
        background-color: #1cd35d;

        font-size: 14px;
        font-family: Gotham;
    }

    a {
        border-radius: 50px;
        text-decoration: none;
        color: #000;
        text-align: center;
        animation: slideInUpButton 0.72s ease-out forwards;
    }

        a:focus {
            transition: all ease 0.3s;
            background-color: #00220c;
    }

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    animation: slideInUp 0.6s ease-out forwards;
}

.filledInput {
    width: 70%;
    padding: 10px 0px;
    margin-top: 8px;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.267);
    text-align: center;

    span {
    margin: 8px;
    font-family: Gotham;
    font-size: 12px;
    color: gray;
    }
    
    img, button {
        position: absolute;
        right: 20%;
        width: 14px;
        margin: 0;
    }
}
/* ====================================== LOGIN SCREEN ====================================== */




/* ====================================== SONG SCREEN ====================================== */

/* Song Hud */

.songContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.songAlbum {
    width: 100%;
    display: flex;

    img {
        width: 100%;
        margin-top: 160px;
        margin-bottom: 54px;
        border-radius: 5px;
    }
}

.songHud {
    display: flex;
    flex-direction: column;
}

.songTitle, .songArtist {
    color: white;
}

.songTitle {
  font-family: GothamBold;
  font-size: 18px;
}

.songArtist {
  margin-top: 4px;
  font-family: Gotham;
  font-size: 16px;
  color: gray;
}

.songButtons {
  display: flex;
  justify-content: center;
  gap: 18px;
}

 .playButton  {
  width: 10%;
  padding: 15px 0;
  color: #000;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.prevButton,.nextButton {
  color: white;
}

.songTimeline {
  display: flex;
  justify-content: center;
  margin: 24px 0 14px 0;
  
}

.progressBar {
  width: 80%;
  accent-color: white;
}

.progressBar::-webkit-slider-runnable-track {
  height: 4px;
}

.progressBar.progressBar::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  margin-top: -5px;
}

/* Text box */

.textSection {
  display: flex;
  flex-direction: column;
  background: green;
  border-radius: 5px;
  padding: 16px 14px;
  margin-top: 48px;
}

.msgTitle {
  color: white;
  font-family: GothamBold;
  font-size: 14px;
  margin-bottom: 20px;
}


.mainMsg {
  margin-bottom: 20px;
  color: white;
  font-family: GothamBold;
  font-size: 20px;
  line-height: 28px;
}

/* ====================================== SONG SCREEN ====================================== */