/* Fonts */

@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}

@font-face {
    font-family: 'GothamBold';
    src: url('../assets/fonts/GOTHAM-BOLD.TTF');
}


/* Removing screen sliding */
html, body {
  overflow-x: hidden;
  overflow-y: scroll; 
  background-color: #101010;
}

/* Rotating warning */

#rotate-warning {
  display: none;
  position: fixed;
  inset: 0;
  background: #000;
  color: #fff;
  font-size: 1.4rem;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (orientation: landscape) {
  #rotate-warning {
    display: flex;
  }

  .container {
    display: none;
  }
}

/* Screen Config */

.container {
    display: flex;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

/* Button Customization remover */

button {
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: transparent;
}

/* Animations */

@keyframes slideInUp {
  from {
    transform: translateY(60%); 
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInUpButton {
  from {
    transform: translateY(150%); 
    opacity: 0;
  }
  to {
    transform: translateY(0); 
    opacity: 1;
  }
}

@keyframes slideInUpLogo {
  from {
    transform: translateY(10%); 
    opacity: 0;
  }
  to {
    transform: translateY(0); 
    opacity: 1;
  }
}

@keyframes albumIntro {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-0.1%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ====================================== LOGIN SCREEN ====================================== */

/* First Button */

.firstButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

        span {
            color: white;
            font-size: 18px;
            font-family: GothamBold;
            margin-bottom: 28px;
            animation: slideInUp 0.5s ease-out forwards;
        }
        img {
            width: 30%;
            margin-bottom: 20px;
            animation: slideInUpLogo 0.4s ease-out forwards;
        }

}

 .mainButton {
        width: 50%;
        margin-top: 32px;
        padding: 12px 32px; 
        background-color: #1cd35d;

        font-size: 14px;
        font-family: Gotham;
    }

    a {
        border-radius: 50px;
        text-decoration: none;
        color: #000;
        text-align: center;
        animation: slideInUpButton 0.72s ease-out forwards;
    }

        a:active {
            transition: all ease 0.3s;
            background-color: #00220c;
            -webkit-tap-highlight-color: transparent;
    }

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    animation: slideInUp 0.6s ease-out forwards;
}

.filledInput {
    width: 70%;
    padding: 10px 0px;
    margin-top: 8px;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.267);
    text-align: center;

    span {
    margin: 8px;
    font-family: Gotham;
    font-size: 12px;
    color: gray;
    }
    
    img, button {
        position: absolute;
        right: 20%;
        width: 14px;
        margin: 0;
    }
}

/* ====================================== LOGIN SCREEN ====================================== */




/* ====================================== SONG SCREEN ====================================== */

/* Song Hud */

.colorContainer {
  width: 100%;
    background-image: linear-gradient(
      to bottom,
      #436fff86 0%,
      #101010 70%
    );
}

.songContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.songAlbum {
    width: 100%;
    display: flex;
    animation: albumIntro 1.5s ease forwards;
}

  .songAlbum img {
      width: 90%;
      align-items: center;
      justify-content: center;
      display: flex;
      margin: 0 auto;
      margin-top: 90px;
      margin-bottom: 24px;
      border-radius: 5px;
  }

.songHud {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.songTitle, .songArtist {
    color: white;
}

.songTitle {
  font-family: GothamBold;
  font-size: 18px;
}

.songArtist {
  margin-top: 4px;
  font-family: Gotham;
  font-size: 16px;
  color: gray;
}

.songButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.fa-backward-step, .fa-forward-step, .fa-shuffle, .fa-repeat {
color: rgba(255, 255, 255, 0.274);
}

.fa-circle-play {
  font-size: 38px;
  color: white;
}

.fa-backward-step, .fa-forward-step {
  font-size: 20px;
}

.fa-shuffle, .fa-repeat {
  margin: 0 32px 0 32px;
}

.songTimeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 0 14px 0;
}

.songTimer {
  width: 90%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 4px;
}


.songEnd, .songStart {
  color: white;
  font-size: 10px;
  font-family: Gotham;
}

.progressBar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 90%;
  height: 3px;
  border-radius: 50px;
}

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #1cd35d;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

/* Text box */

.textSection, .textSectionPreview {
  width: 94%;
  display: flex;
  flex-direction: column;
  background: rgb(46, 124, 175);
  border-radius: 15px;
  padding: 16px 14px;
  margin-top: 48px;
}

.textSection {
  display: none;
  visibility: hidden;
  animation: slideDown 0.5s ease-out forwards;
}



.msgTitle, .previewMsgTitle {
  color: white;
  font-family: GothamBold;
  font-size: 14px;
  margin-bottom: 20px;
}


.mainMsg, .previewMainMsg {
  margin-bottom: 20px;
  color: white;
  font-family: GothamBold;
  font-size: 18px;
  line-height: 24px;
}

.previewMainMsg {
      background-image: linear-gradient(
      to bottom,
      white 0%,
      rgb(46, 124, 175) 88%
    );

  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}

.previewButton {
  display: flex;
  color: white;
  font-family: Gotham;
  font-size: 16px;
  border: 1px solid white;
  margin-left: auto;
  padding: 4px 12px;
}

.previewMainMsg {
  margin-bottom: 0;
}

/* About Artist */

.herPicture {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

.pictureTitle {
  position: absolute;
  margin-top: 14px;
  margin-left: 14px;
  font-family: GothamBold;
  color: white;
}

.pictureImg {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.bottomPictureInfo {
  display: flex;
  flex-direction: column;
  padding: 14px;
  background-color: #1a1a1a;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: white;
  font-family: Gotham;
  font-size: 10px;
}

.pictureName {
  font-family: GothamBold;
  font-size: 16px;
  margin-bottom: 4px;
  align-items: center;
}

.pictureName img {
  width: 4%;
}

.pictureListeners {
  color: gray;
  margin-bottom: 14px;
}

.pictureDescription {
  color: grey;
}

.exploreSection {
  width: 100%;
  margin-top: 14px;
  background-color: #1a1a1a;
    border-radius: 5px;
}

.meetTitle {
  display: flex;
  padding: 12px;
  color: white;
  font-family: GothamBold;
  font-size: 16px;
  margin-bottom: 4px;
}

.exploreGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.exploreGrid img {
  width: 90%;
  border-radius: 5%;
  margin-bottom: 14px;
}

.img1 {
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
}

.img1 img {
  width: 80%;
  height: 95%;
  object-fit: cover;
  display: block;
}

.img1 span {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 70%;
  padding: 8px 12px;
  text-align: left;
  font-size: 10px;
  color: white;
  font-family: GothamBold;
}

.fullImage {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  display: none;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.781);
  animation: slideInUp 0.35s ease;
}

.fullImage img {
  width: 350px;
  border-radius: 10px;
}

.fullImageTitle {
  width: 350px;
  margin-top: 8px;
  color: white;
  text-align: left;
  font-family: GothamBold;
  font-size: 18px;
  animation: slideInUp 0.5s ease;
}

.fullImageDesc {
  width: 350px;
  text-align: left;
  color: white;
  font-family: Gotham;
  font-size: 14px;
  margin-top: 10px;
    animation: slideInUp 0.5s ease;

}

.previewButton:active {
  transition: all ease 0.1s;
  background-color: #ffffff;
  color: rgb(46, 124, 175);
  -webkit-tap-highlight-color: transparent;
}

#hide-button {
  transition: all ease 0.2s;
  background-color: #ffffff;
  color: rgb(46, 124, 175); 
}
/* ====================================== SONG SCREEN ====================================== */
